<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 1325px; height: 829px; background-color: white;"/>
    <div style="width: 1325px; height: 1px;"/>
    <p style="font-size: 36px; line-height: 100%; text-align: center; color: rgba(255, 146, 146, 1);">Myntra</p>
    <div style="width: 486px; height: 670px; background-color: rgba(247, 218, 217, 0.74); border-radius: 10px;"/>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;">1024</p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;">Shirt</p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;">Pant</p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;">Shoes</p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;">Cap</p>
    <div style="width: 359px; height: 9px; background-color: rgba(247, 218, 217, 1); border-radius: 10px;"/>
    <div style="width: 359px; height: 9px; background-color: rgba(247, 218, 217, 1); border-radius: 10px;"/>
    <div style="width: 359px; height: 9px; background-color: rgba(247, 218, 217, 1); border-radius: 10px;"/>
    <div style="width: 359px; height: 9px; background-color: rgba(247, 218, 217, 1); border-radius: 10px;"/>
    <div style="width: 136px; height: 9px; background-color: rgba(255, 146, 146, 1); border-radius: 10px;"/>
    <div style="width: 222px; height: 9px; background-color: rgba(255, 146, 146, 1); border-radius: 10px;"/>
    <div style="width: 94px; height: 9px; background-color: rgba(255, 146, 146, 1); border-radius: 10px;"/>
    <div style="width: 174px; height: 9px; background-color: rgba(255, 146, 146, 1); border-radius: 10px;"/>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;">4</p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;">6</p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;">3</p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;">5</p>
    <div style="width: 655px; height: 392px; background-color: rgba(247, 218, 217, 0.60); border-radius: 10px;"/>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: rgba(190, 190, 190, 1);"></p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;"></p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;"></p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;"></p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;"></p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: rgba(255, 215, 0, 1);"></p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: rgba(255, 146, 146, 1);"></p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;">512</p>
    <p style="font-size: 24px; line-height: 100%; text-align: center; color: black;">256</p>
    <p style="font-size: 48px; line-height: 100%; text-align: center; color: rgba(255, 146, 146, 1);">Avathar</p>
    <p style="font-size: 36px; line-height: 100%; text-align: center; color: rgba(255, 146, 146, 1);">Coin Conversion / Something</p>

</body>
</html>
